body {
    background-color: rgb(15, 20, 28);
}

.cardholder {
    margin: 2rem 25rem;

    .card {

        .card-header {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                object-fit: cover;
                width: 3rem;
                height: 3rem;
            }

            p {
                font-weight: bold;
                font-size: 150%;
            }
        }

        .card-body {

            .card-info {
                font-size: 70%;
                color: rgba(0, 0, 0, 0.5)
            }
            
            .card-img {
                max-height: 50vh;
                object-fit: cover;
            }

            .img-alt-text {
                font-size: 80%;
                color: rgba(0, 0, 0, 0.5)
            }
        }
    }
}