body {
    background-color: rgb(9, 30, 48);
    color: white;
}

.main-title {
    font-size: 11vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-title {
    font-size: 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}